{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": [ 2, "always" ],
    "no-underscore-dangle": 0
  }
}
